<div id='team_box_{{team.getId()}}' class='team_box'>
    <div class='team_item'><strong>{{team.getTeamName()}}</strong></div>
    <div class='team_item'><em>
        {% if team.getTeamAssisted() %}
            assisted
        {% else %}
            not assisted
        {% endif %} </em>
    </div>
    <div class='team_item'>
        {{team.getTeamPlayers().count()}}
    </div>
    <div class='team_action'>
        <a href='{{path('team_add_players',{'team_id': team.getId()}) }}'>Manage Players</a>
    </div>
    <div class='team_action'>
        <a href='{{path('team_delete',{'team_id': team.getId()}) }}'>Delete Team</a>
    </div>
</div><div style='clear:both'>&nbsp;</div>