<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    {% if js is defined %}
        {% if js == 'players_add'%}
            <script src="{{ asset('bundles/decision/js/players_add.js') }}"></script>
        {% endif %}
    {% endif %}
    <link href="{{ asset('bundles/decision/css/base.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="menu" class="menu">
        <div id="btn_create_player" class="menu_item">
            <a href='{{path('player_add')}}'>Create Player</a>
        </div>
        <div id="btn_create_team" class="menu_item">
            <a href='{{path('team_add')}}'>Create Team</a>
        </div>
        <div id="btn_create_team" class="menu_item">
            <a href='{{path('team_list')}}'>List Teams</a>
        </div>
        <div id="btn_verify_team" class="menu_item">
            Verify Team
        </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div class="content_body">
